
<main class="background">
<h1 class="text-center text-2xl text-green-700 font-bold"> Itineraries </h1>
  <div class="container">
    <div class="cards">
      <% @itineraries.each do |itinerary| %>
        <div class="list-card-category">
        <%= link_to "read more", itinerary_path(itinerary) %>
          <%= itinerary.name %>
         <div>Description: <%= itinerary.description %>

         </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
