<main class="background">
  <div class="container-center">
    <div class="container-style">
    <h1 class="text-green-700 text-4xl underline decoration-0.5"><%= @itinerary.name %></h1>
    <div>Description: <%= @itinerary.description %></div>
    <div><%= @itinerary.image%></div>
    <div> Comments: <%= @itinerary.comment%></div>
    </div>
  </div>
</main>
