<%# <nav class="p-3.5 bg-white shadow md:flex md:items-center md:justify-between"> %>
<nav class="p-3.5 bg-stone-50 flex justify-between items-center p-6 px-6 lg:px-0 mx-auto shadow-lg">
  <div>
    <span class="text-2xl ml-5 cursor-pointer font-bold text-green-700">
      <%= link_to "Travel China", locations_path %>
    </span>
  </div>

  <input class="peer hidden" type="checkbox" name="hamburger" id="hamburger"/>
    <label class="perr-checked:hambuger block relative cursor-pointer lg:hidden border-2 border-gray-300 peer-checked:border-2 peer-checked:border-white p-3 rounded-md transition-all" for="hamburger">
      <div class="m-auto w-6 h-0.5 rounded bg-gray-300 transition-all duration-300"></div>
      <div class="m-auto mt-2 h-0.5 rounded bg-gray-300 transition-all duration-300"></div>
    </label>





<% if user_signed_in? %>
<ul>
      <li>
      Profile
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </li>
    </ul>

<% else %>
    <ul>
      <li>
      <%= link_to "Login", new_user_session_path, class:"text-l hover:text-cyan-500 duration-500" %>
       <%= link_to "Register", new_user_registration_path, class:"text-l text-white duration-500 bg-green-700 p-2 ml-1.5 mr-5 rounded-2xl" %>
      </li>
    </ul>
<% end %>

</nav>
