<main class="background flex justify-center content-center">
<%# <div class="p-18 ml-5"> </div> %>
  <div>
    <div><h1 class=" font-bold text-4xl text-green-600 pt-10">Adventure time! </h1></div>
    <div><%= link_to "Enter", locations_path, class:"bg-green-700 px-5 text-white  rounded
    flex items-center justify-center mt-2 h-10 px-1.5 mx-5"  %> </div>
  </div>
</main>
