// Place all the styles related to the itineraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container-center {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
}

.container-style {
  background-color: white;
  height:auto;
  padding: 100px;
  margin-top: 30px;
}
