// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 30px;
//   padding-top: 10px;
//   padding-bottom: 30px;
//   margin-left:20px;
//   margin-right:20px;
// }

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-left:20px;
  margin-right: 20px;
}

.img-show {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  object-fit:cover;
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  border-radius: 5px;
  height: 300px;
  width:500px;
}

.background {
  position:absolute;
    height:100%;
    width:100%;
  background-image: url("8362.jpg");
  background-position: center;
  background-repeat: repeat-y;
}
